body {
    font-family: Calibri;
    color: #58595a;

}
.language p{
    display: inline;
    margin:0 5px;
}
.loginHeader {
    margin: 5px 0 5px;
    position: relative;
}
.loginContainer {
    background: url(../images/login-bg.jpg) no-repeat top center;
    height: 500px;
    position: absolute;
    width: 100%;
    margin: auto;
}
.loginBox h1 {
    text-align: center;
    margin: 23px 0 -15px -182px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.loginBox {
    width: 650px;
    height: auto;
    position: relative;
    margin:15% 49.5%;

}
.loginBox .linner {
    width: 528px;
    background:url(../images/loginbox-bg.jpg) no-repeat;
    padding: 40px 91px 0 138px;
}
.loginBox .form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #eaeaea;
    background-image: none;
    border: 0 !important;
    border-radius: 5px;
}
.loginBox .checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}
.loginBox .loginBtn {
    background: transparent;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    margin: -6px 0;
    padding: 0;
}
.fpwd {
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
    float: left;
    margin-top: 5px
}
.loginBox .form-group {
    margin-bottom: 3px;
}
.loginBox .form-group-errors {
    margin: -18px 0px 2px -5px !important;
}

.footer-login {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: -16px auto;
}
.footer-srms{
    font-weight: bold;
    font-size: 28px;
    color: #000;
    margin-bottom: 20px;
}
.copy {
    color: #333;
    font-size: 18px;
}

.loginmodal-container {
    padding: 30px;
    width: 100% !important;
    background-color: #01aca3;
    margin: 0 auto;
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    color: #f1c25a;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    background-color: #ddaf51;
    padding: 14px 0px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #d8980c;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
} 

.login-help {
    font-size: 16px;
    color: #fff !important;
    text-align: center;
}

.login-help a {
    color: #fff !important;
    text-align: center;
}

.mobile-login {
    display: none;
}
.desktop-login {
    display: block;
}



@media(max-width:1024px){
    body {
        overflow-x: hidden;
    }
    .loginBox {
        margin: 18% 49.5%;
    }
}
@media(max-width:768px){
    .loginBox {
        margin: 23% 42%;
    }
}
@media(min-width:220px) and (max-width:678px){
    .mobile-login {
        display: block;
    }
    .desktop-login {
        display: none;
    }

}